<!DOCTYPE html>
<html>
<title>CSG PLM Partners</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="w3-center">
           <h4>CSG PLM Partners</h4>
            <h1 class="w3-xxxlarge w3-animate-bottom">
               <img src="http://203.228.101.197/digitalPCC/vault/vaultserver.aspx?dbName=DigitalPCC&fileId=E0F60017E88D48DD9D47A7A26B6ED138&fileName=%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C%20(1).png&vaultId=67BBB9204FE84A8981ED8313049BA06C&token=FsX8DGRXUnHwicuH56XcoSlAPgp7emfT98gKEzMvu-cZokt-8LjEkUd1EzV61YMu6aML4KT6CU9Z251umYOTQvh0ImVkuDeE-PN8Y81avfjjfQ78QQd4fVZKUjFbMyqE8zI1N62hkBg-UvRwWeNjZ6J9_w0tjgaa_eivznadRqZMv_6kZYn_1T0N7sqsMjL7LLlT_LXl54jzZ-7NhuwUND2IGnkSudpipI0_ZyVXY5sVmcXC5T9gSn93u0_oVYyLrpb5maQhEWPtL-BgGplMfyE8M44_QJ9YY2O53NvZiQHe3CunxZD4PqgRkkJmGUXGHzq16ik8HaKBPutC_neLKIW-lUnlJHM291yFs02cIMI1" alt="" width="150px">
               NIKE FREE METCON 4
            </h1>
            <p>Tool Type : Zig</p>
                <p>Sample Size : 9T</p>
                <p>Status : Complete</p>
        </div>
    </header>

    <!-- Modal -->
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:340px">
                <h3>Version : 1.1 (Latest)</h3><br>
                <p>Last Updated : 2020.09.22 23:00</p>
                <p>Price : 999$</p>
                <p>Description : 동해물과 백두산이 마르고 닳도록</p>
                <p>CAD Download : <a href="">NikeFreeMetcon.dxf</a></p>
                <p>Order Download : <a href="">Tool Request.pdf</a></p>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:340px">
                <h3>Version : 1.0 </h3><br>
                <p>Last Updated : 2020.09.20 23:00</p>
                <p>Price : 899$</p>
                <p>Description : 동해물과 백두산이 마르고 닳도록</p>
                <p>CAD Download : <a href="">NikeFreeMetcon.dxf</a></p>
                <p>Order Download : <a href="">Tool Request.pdf</a></p>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:340px">
                <h3>Version : 0.9 </h3><br>
                <p>Last Updated : 2020.08.20 23:00</p>
                <p>Price : 899$</p>
                <p>Description : 동해물과 백두산이 마르고 닳도록</p>
                <p>CAD Download : <a href="">NikeFreeMetcon.dxf</a></p>
                <p>Order Download : <a href="">Tool Request.pdf</a></p>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:340px" >
                <h3>Version : 0.8 </h3><br>
                <p>Last Updated : 2020.08.10 23:00</p>
                <p>Price : 1200$</p>
                <p>Description : 동해물과 백두산이 마르고 닳도록</p>
                <p>CAD Download : <a href="">NikeFreeMetcon.dxf</a></p>
                <p>Order Download : <a href="">Tool Request.pdf</a></p>
            </div>
        </div>
    </div>
   

    <!-- Footer -->
    <footer class="w3-container w3-theme-dark w3-padding-16">
        <h3></h3>
        
    </footer>
  
       

</body></html>
