<!DOCTYPE html>
<html>
<title>CSG PLM Partners</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<style>
    .w3-card.w3-container:hover{
        cursor: pointer;
    }    
</style>
<body>

    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
        <div class="w3-center">
            <h1 class="w3-xxxlarge w3-animate-bottom">CSG PLM Partners</h1>
        </div>
    </header>

    <!-- Modal -->
    <div class="w3-row-padding w3-center w3-margin-top">
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px"  onclick="clickDetail()">
                <h3>NIKE FREE METCON 4</h3><br>
                <img src="http://203.228.101.197/digitalPCC/vault/vaultserver.aspx?dbName=DigitalPCC&fileId=E0F60017E88D48DD9D47A7A26B6ED138&fileName=%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C%20(1).png&vaultId=67BBB9204FE84A8981ED8313049BA06C&token=FsX8DGRXUnHwicuH56XcoWXyCThkn7UpUG3uOe4DUnzM5p5qjr6xGxLf4nMmISfFJhpo3DHmOMiwoQaGJCApJfolwc3QIhZlE28csxoo5c0ambE2saVh31gKB2z5jkrMTdLqPbfYcjyuC2Mw_Pl92IWwLwQaVBbkDPzoLNPv_ZBW0Rso0JsqTDTzT9DqOrq80wGUlMSLcc2wl2EiajavH5L4NmL-2DSXYsooo1DYwqN3Xy3lcBx3xaZ43_pR06YNwNu37kFBEPh0EwhbTwbwwhUnQqrwJwfRvCXRDRAHC6doE4QgLIGlJi5vqcFBkL2tZl2IrRKZtoQL4JHe5fiDZkJqw3dN4zEPKMyekxCA4DI1" alt="" width="200px">
                
                <p>Tool Type : Zig</p>
                <p>Sample Size : 9T</p>
                <p>Version : 1.1 (Latest)</p>
                <p>Status : Complete</p>
                <p>Last Updated : 2020.09.22 23:00</p>
                <p>Price : 999$</p>
                <p>Description : 동해물과 백두산이 마르고 닳도록</p>
                <p>CAD Download : <a href="">NikeFreeMetcon.dxf</a></p>
                <p>Order Download : <a href="">Tool Request.pdf</a></p>
            </div>
        </div>
        <div class="w3-third">
            <div class="w3-card w3-container" style="min-height:460px"  onclick="clickDetail()">
                <h3>AIR TUNED MAX</h3><br>
                <img src="http://203.228.101.197/digitalPCC/vault/vaultserver.aspx?dbName=DigitalPCC&fileId=9BF256E2D06049E980747157ED240A7D&fileName=%EB%8B%A4%EC%9A%B4%EB%A1%9C%EB%93%9C.png&vaultId=67BBB9204FE84A8981ED8313049BA06C&token=FsX8DGRXUnHwicuH56XcocoIpiCNUskIWcnD-4z0IQFFMSM3xF6jAoXwvLHbtBgi7VmCQyKHP9RTpNREq8cn51dWgJuWIuuoT2kX9kBtd2N94iIC8O4IhmPwzkIQH7q7lu9x1srr4Hn5LXeGR_TbiPKpTtQz_ZFyR_MAdZ5g-xATPF74PffGR-TTPxH1kYDVlHE3o4IzGx4CCTfh_TzCNnUUhtnUPKH7n3xTXT0drK9IhefPeTtcqvKwuPQw_UFpGNS2EtkRewvVc-n4NQuPiTQfy8pn3UhMS2VMRi4q6wG8lvmPlWm391hBZ_NPX2r0g5dXAUq0AdA18apGsqORdOw8nn7IOWQ3NEI04J1VRoQ1" alt="" width="200px">
                <p>Tool Type : Zig</p>
                <p>Sample Size : 9T</p>
                <p>Version : 1.1 (Latest)</p>
                <p>Status : Complete</p>
                <p>Last Updated : 2020.09.22 23:00</p>
                <p>Price : 999$</p>
                <p>Description : 동해물과 백두산이 마르고 닳도록</p>
                <p>CAD Download : <a href="">NikeFreeMetcon.dxf</a></p>
                <p>Order Download : <a href="">Tool Request.pdf</a></p>
            </div>
        </div>
    </div>
   

    <!-- Footer -->
    <footer class="w3-container w3-theme-dark w3-padding-16">
        <h3></h3>
        
    </footer>
    <script>
        function clickDetail(){
            window.location.href = "./template1detail.html";
        }
    </script>
       

</body></html>
